# Plantilla de variables de entorno (Copia esto a un archivo llamado .env)

# Credenciales de conexión a la base de datos (Pooler URL / Transaction mode)
DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[db]?pgbouncer=true"

# Credenciales de conexión directa (Session mode - Utilizado para migraciones/esquemas)
DIRECT_URL="postgresql://[user]:[password]@[host]:[port]/[db]"

# Puerto del Servidor Express
PORT=3000

# Secreto para firmar tokens JWT (Asegúrate de cambiar esto en Producción)
JWT_SECRET="reemplaza_esto_por_una_clave_segura_y_larga"
